body
{
    background-color: rgb(0, 3, 10);
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 700px;
}

h1
{
    font-size: 2rem;
    padding-left: 1%;
    padding-right: 1%;
}

p
{
    font-size: 1rem;
    padding-left: 1%;
    padding-right: 1%;
}

button{
    color: aliceblue;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 50%;
    height: 3rem;
    border-radius: 10px;
    background-color: rgb(11, 51, 150, 0.5);
    border: rgba(0, 0, 0, 0.0);
    
    &:hover{
        background-color: rgb(11, 51, 150);
    }
}

.total_display
{
    background-color: rgb(11, 51, 150,.2);
    padding: 1%;
    border-radius: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.image_display
{
    margin-left: 25%;
    margin-right: 25%;
}

.column_view
{
    margin-top: 1%;
    display: flex;
    justify-content: left;
}

.information_display
{
    background-color: aliceblue;
    width: 74%;
}

.reference_display
{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    width:25%;
    margin-left: 1%;
    justify-content: center;

}

.selection_display
{
    
    display: flex;
    justify-content: center;
}

.reference
{
    size: 1rem;
}